<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
</head>
<body>
<div>
	<a href="https://www.mi.com/index.html">小米商城</a> 
	<a href="https://home.miui.com/" target="_blank">MIUI</a> 
	<a href="https://airstar.com/h5/" target="_blank">天星数科</a> 
	<a href="https://qiye.mi.com/" target="_blank">企业团购</a> 
</div>
<div>
	<a href="https://www.mi.com/index.html"> 
	<img src="/static/logo3.png" style="height: 80px;">
	</a>
	<a href="https://www.mi.com/index.html">小米手机</a> 
	<a href="https://www.mi.com/index.html">红米手机</a> 
	<a href="https://www.mi.com/index.html">电视</a> 
	<form  action="/search" method="get"style="display: inline">
		<input type="text" placeholder="请输入关键字" name="keyword">
		<input type="submit" value="search">
	</form>
</div>
</body>
</html>
