<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>register</title>
	<style>
		h1{
			color:red
		}
		span{
			display: inline-block;
			width: 80px;
			text-align: right;
		}
		form > div{
			margin-top: 8px;:w
		}
	</style>
</head>
<body>
<h1>用户注册</h1>
<form  action="/do/register" method="get"style="display: inline">
	<div><span>用户名:</span>
	<input type="text" placeholder="请输入用户名" name="usr">
	</div>
	<div><span>密码:</span>
	<input type="text" placeholder="请输入密码" name="pwd">
	</div>
	<div><span>性别:</span>
	<span>男</span>
	<input type="radio" name="gender" value="man">
	<span>女</span>
	<input type="radio" name="gender" value="woman">
	</div>
	<div><span>城市:</span>
		<select name="city">
			<option value="sh">sh</option>
			<option value="bj">bj</option>
			<option value="hz">hz</option>
		</select>
	</div>
	<div><span>爱好:</span>
		<span>篮球:</span>
		<input type="checkbox"  name="hobby" value="lq">
		<span>足球:</span>
		<input type="checkbox"  name="hobby" value="zq">
		<span>排球:</span>
		<input type="checkbox"  name="hobby" value="pq">
	</div>
	<div> <span>其它信息:</span>
		<textarea name="textarea"></textarea>
	</div>
	<input type="submit" value="register">
</form>
</body>
</html>
